<div class="tab scrollable actor-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	<section class="modification-effects" data-type="modification">
		<ol class="plain item-list effects-list2">
			{{#each modifications as |section sid|}}
				<li class="items- header entry2 flexrow" data-effect-type="{{section.type}}">
					<div class="item-name flex2">
						<h6>{{localize section.label}}</h6>
					</div>
					<div class="item-duration" data-tooltip="{{localize 'SKYFALL.DURATION'}}">
						{{#if (eq section.type 'temporary') }}
							<h5>
								{{{@root.SYSTEM.icons.time}}}
							</h5>
						{{/if}}
					</div>
					<div class="item-source" data-tooltip="{{localize 'SKYFALL.SOURCE'}}">
						<h5>
							{{{@root.SYSTEM.icons.source}}}
						</h5>
					</div>
					<div class="item-controls effect-controls">
						<a class="item-control" data-action="create" data-create="ActiveEffect" data-category="{{sid}}" title="{{localize 'DOCUMENT.Create' type=" Effect"}}">
							<i class="fas fa-plus"></i> {{localize "DOCUMENT.New" type="Effect"}}
						</a>
					</div>
				</li>

				<ol class="plain effects-list">
					{{#each section.effects as |effect|}}
						<li class="item effect entry flexrow" data-entry-id="{{effect.id}}">
							<div class="item-name flex2 effect-name2 flexrow">
								<img class="item-image" src="{{effect.img}}" />
								{{effect.name}}
							</div>
							{{#if (eq section.type 'temporary') }}
								{{!-- <div class="effect-duration">{{effect.duration.label}}</div> --}}
							{{/if}}
							<div class="effect-source">{{effect.sourceName}}</div>
							<div class="item-controls effect-controls">
								<a class="effect-control" data-action="toggle" data-field-path="system.apply.always" title="{{localize 'SKYFALL.EFFECT.TOGGLE'}}">
									{{#if effect.system.apply.always}}{{{@root.SYSTEM.icons.on}}}{{else}}{{{@root.SYSTEM.icons.off}}}{{/if}}
								</a>
								<a class="effect-control" data-action="edit" data-target="effect" title="{{localize 'DOCUMENT.Update' type=" Effect"}}">
									<i class="fas fa-edit"></i>
								</a>
								<a class="effect-control" data-action="delete" data-delete="ActiveEffect" title="{{localize 'DOCUMENT.Delete' type=" Effect"}}">
									<i class="fas fa-trash"></i>
								</a>
							</div>
						</li>
					{{/each}}
				</ol>
			{{/each}}
		</ol>
	</section>
	<section class="base-effects" data-type="base">
		<ol class="plain item-list effects-list2">
			{{#each effects as |section sid|}}
				<li class="items- header entry2 flexrow" data-effect-type="{{section.type}}">
					<div class="item-name flex2">
						<h6>{{localize section.label}}</h6>
					</div>
					<div class="item-duration" data-tooltip="{{localize 'SKYFALL.DURATION'}}">
						<h5>
							{{{@root.SYSTEM.icons.time}}}
						</h5>
					</div>
					<div class="item-source" data-tooltip="{{localize 'SKYFALL.SOURCE'}}">
						<h5>
							{{{@root.SYSTEM.icons.source}}}
						</h5>
					</div>
					<div class="item-controls">
						<a class="item-control" data-action="create" data-create="ActiveEffect" data-category="{{sid}}" title="{{localize 'DOCUMENT.Create' type=" Effect"}}">
							<i class="fas fa-plus"></i> {{localize "DOCUMENT.New" type="Effect"}}
						</a>
					</div>
				</li>

				<ol class="plain effects-list">
					{{#each section.effects as |effect|}}
						<li class="item effect entry flexrow" data-entry-id="{{effect.id}}">
							<div class="item-name flex2 effect-name2 flexrow">
								<img class="item-image" src="{{effect.img}}" width="36" />
								{{effect.name}}
							</div>
							<div class="item-duration">
								{{effect.duration.label}}1
							</div>
							<div class="item-source">
								{{effect.sourceName}}
							</div>
							<div class="item-controls effect-controls">
								<a class="item-control" data-action="toggle" data-field-path="disabled" title="{{localize 'SKYFALL.EFFECT.TOGGLE'}}">
									{{#if effect.disabled}}{{{@root.SYSTEM.icons.off}}}{{else}}{{{@root.SYSTEM.icons.on}}}{{/if}}
								</a>
								<a class="effect-control" data-action="edit" data-target="effect" title="{{localize 'DOCUMENT.Update' type=" Effect"}}">
									<i class="fas fa-edit"></i>
								</a>
								<a class="effect-control" data-action="delete" data-delete="ActiveEffect" title="{{localize 'DOCUMENT.Delete' type=" Effect"}}">
									<i class="fas fa-trash"></i>
								</a>
							</div>
						</li>
					{{/each}}
				</ol>
			{{/each}}
		</ol>
	</section>
	{{#if (or (eq @root.document.type "character") (eq @root.document.type "npc")) }}
		<section class="status-effects">
			<ol class="plain status-list">
				{{#each statusEffects as | effect id | }}
					<li class="item effect entry flexrow" data-entry-id="{{effect.id}}" data-tooltip="{{{effect.tooltip}}}" data-tooltip-direction="RIGHT">
						<div class="item-name flex2 effect-name2 flexrow">
							<img class="item-image" src="{{effect.img}}" />
							<span class="condition-reference">{{effect.name}}</span>
						</div>
						<div class="item-controls effect-controls flex0">
							<h5>
								<a class="effect-control" data-action="toggle" title="{{localize 'SKYFALL.EFFECT.TOGGLE'}}">
									{{#if effect.disabled}}{{{@root.SYSTEM.icons.off}}}{{else}}{{{@root.SYSTEM.icons.on}}}{{/if}}
								</a>
							</h5>
						</div>
					</li>
				{{/each}}
			</ol>
		</section>
	{{/if}}
</div>