<ul class="plain box flexcol">
	{{#each skills as | skill skillId |}}
		{{#if (eq skillId "apti")}}
			<li class="skill entry flexrow" data-type="skill" data-entry-id="{{skillId}}">
				<span>-</span>
				<h5 class="flex3">
					{{localize skill.label}}
				</h5>
				<a data-action="create" data-create="skill">{{{@root.SYSTEM.icons.create}}}</a>
			</li>
		{{else if (and (eq skill.type "apti") (eq skill.value 0))}}
		{{else}}
			<li class="skill entry flexrow" data-type="skill" data-entry-id="{{skillId}}">
				<a data-action="vary" data-field-path="system.skills.{{skillId}}.value">
					{{#if (eq skill.value 0)}}
						{{{@root.SYSTEM.icons.square}}}
					{{else if (eq skill.value 1)}}
						{{{@root.SYSTEM.icons.check}}}
					{{else if (eq skill.value 2)}}
						{{{@root.SYSTEM.icons.checkdouble}}}
					{{/if}}
				</a>
				<h5 class="flex3"><a class="{{#if (or (eq @root.rolling.id skillId) (eq @root.rolling.type 1)) }}active rolling{{else}}{{/if}}" data-action="roll" data-roll-type="skill" data-id="{{skillId}}">
						{{localize skill.label}}
					</a></h5>
				<div class="fa-solid" data-action="edit" data-field-path="system.skills.{{skillId}}" data-tooltip='{{{skill.totalTooltip}}}'>
					{{#if @root.rolling.abl }}
						<input class="{{#if @root.rolling.abl }}rolling{{/if}}" type="number" value="{{lookup skill._roll @root.rolling.abl}}" disabled>
					{{else}}
						<input type="number" value="{{skill.total}}" disabled>
					{{/if}}
				</div>
				<div class="flex0 hidden" data-action="edit" data-field-path="system.skills.{{skillId}}">
					{{{@root.SYSTEM.icons.gear}}}
				</div>
				{{!-- <input type="number" name="system.skills.{{skillId}}.other" value="{{skill.outros}}" data-tooltip="{{localize "SKYFALL.ROLL.OTHER"}}"> --}}
			</li>
		{{/if}}
	{{/each}}
</ul>