<div class="background-cut ability-scores abilities flexrow">
	{{#each system.abilities2 as | ability abl |}}
		<fieldset class="ability">
			<div class="form-group stacked score">
				<label>
					1
				</label>
				<div class="form-fields">
					<input type="text" disabled>
				</div>
			</div>

			<div class="form-group stacked protection">
				<label>
					1
				</label>
				<div class="form-fields">
					<input type="text" disabled>
				</div>
			</div>
		</fieldset>
	{{/each}}
	{{#each system.abilities as | ability abl |}}
		<div class="ability entry flexcol2 text-center" data-type="ability">
			<div class="flexcol top">
				<div class="flex1">
					<h6 data-tooltip="{{localize 'SKYFALL2.ROLL.Ability'}}">
						<a class="{{#if (and @root.rolling (or (eq @root.rolling.abl abl) (and (eq @root.rolling.abl null) (includes @root.rolling.abilities abl)))) }}active rolling{{else}}{{/if}}" data-action="roll" data-roll-type="ability" data-id="{{abl}}">{{{localize ability.label}}}{{#if ability.spellcasting}}*{{/if}}</a>
					</h6>
				</div>
				<div class="flex2 overrided-fields">
					{{#if @root.isEditable}}
						<input type="number" name="system.abilities.{{abl}}.value" value="{{lookup (lookup @root.source.abilities abl) 'value'}}">
						<input type="number" name="" value="{{ability.value}}" disabled>
					{{else}}
						<h2>{{ability.value}}</h2>
					{{/if}}
				</div>
			</div>
			<div class="flexcol bottom">
				<div class="hidden protection2 icon2 {{#if ability.proficient}}active{{/if}}">
					{{#if ability.proficient}}
						{{{@root.SYSTEM.icons.shield}}}
					{{else}}
						{{{@root.SYSTEM.icons.squaretilt}}}
					{{/if}}
				</div>
				<a class="protection icon {{#if ability.proficient}}active{{/if}}" data-action="toggle" data-field-path="system.abilities.{{abl}}.proficient">
					{{localize "SKYFALL.ACTOR.PROTECTION"}}
				</a>
				<label>{{ability.protection}}</label>
				{{!-- <input type="number" disabled value="{{ability.protection}}"> --}}
			</div>
		</div>
	{{/each}}
</div>