<div class="form-fields stack entry {{#if level}}class{{/if}}" data-entry-id="{{item.id}}">
	<label>{{localize label}}
		<span class="item-controls">
			{{#if item.id }}
			<a class="control" data-action="edit" data-target="item">
				{{{@root.SYSTEM.icons.edit}}}
			</a>
			<a class="control" data-action="delete" data-delete="Item">
				{{{@root.SYSTEM.icons.delete}}}
			</a>
			{{else if (eq 1 2)}}
			<a class="control" data-action="search" data-target="item">
				{{{@root.SYSTEM.icons.search}}}
			</a>
			{{/if}}
		</span>
	</label>
	{{#if level}}
	<input type="number" class="level" data-action="update" name="system.level" value="{{item.system.level}}">
	{{/if}}
	{{#if item.system.heritage}}
	<input type="text" value="{{item.name}} ( {{item.system.heritage}} )" disabled >
	{{else}}
	<input type="text" value="{{item.name}}" disabled>
	{{/if}}
</div>