{{!-- IMG --}}
{{!-- NAME --}}
{{!-- HP/EP/CP/SP --}}
{{!-- ACTION REST --}}

<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="160" width="160"/>
<div class="charname flex0">
	<input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
</div>

<div class="actor-actions flexrow flex0">
	<button data-action="rest" data-rest="short">{{{SYSTEM.icons.food}}}</button>
	<button data-action="rest" data-rest="long">{{{SYSTEM.icons.tent}}}</button>
	{{!-- <a data-action="roll" data-target="initiative">{{localize "SKYFALL.ACTOR.INITIATIVE"}}</a> --}}
	<span class="hitDie">{{system.resources.hitDie.value}}/{{system.resources.hitDie.max}}</span>
	<input type="text" value="{{system.resources.catharsis.value}}" disabled>
</div>
<div class="resource-bar hp flexrow">
	<h4 class="flex100">{{localize "SKYFALL.ACTOR.RESOURCES.HP"}}</h4>
	{{!-- TODO BAR --}}
	{{formField systemFields.resources.hp.max value=system.resources.hp.max localize=true disabled=true}}
	{{formField systemFields.resources.hp.value value=system.resources.hp.value localize=true}}
	{{formField systemFields.resources.hp.temp value=system.resources.hp.temp localize=true}}
</div>
<div class="resource-bar ep flexrow">
	<h4 class="flex100">{{localize "SKYFALL.ACTOR.RESOURCES.EP"}}</h4>
	{{!-- TODO BAR --}}
	{{formField systemFields.resources.ep.max value=system.resources.ep.max localize=true disabled=true}}
	{{formField systemFields.resources.ep.value value=system.resources.ep.value localize=true}}
	{{formField systemFields.resources.ep.temp value=system.resources.ep.temp localize=true}}
</div>

<div class="shadow flexcol entry" data-entry-id="shadow">
	<h4 data-tooltip="{{localize "SKYFALL.ACTOR.RESOURCES.SHADOW.HINT"}}">{{localize "SKYFALL.ACTOR.RESOURCES.SHADOW"}}</h4>
	<h4>
	<a data-action="vary" data-target="system.resources.shadow.value">
		{{#with system.resources.shadow}}
		{{{ifThen (gte value 1) ../SYSTEM.icons.squarefill ../SYSTEM.icons.square}}}
		{{{ifThen (gte value 2) ../SYSTEM.icons.squarefill ../SYSTEM.icons.square}}}
		{{{ifThen (gte value 3) ../SYSTEM.icons.squarefill ../SYSTEM.icons.square}}}
		{{{ifThen (gte value 4) ../SYSTEM.icons.squarefill ../SYSTEM.icons.square}}}
		{{{ifThen (gte value 5) ../SYSTEM.icons.squarefill ../SYSTEM.icons.square}}}
		{{/with}}
	</a>
	</h4>
</div>

<div class="death flexcol entry" data-entry-id="death">
	<h4>{{localize "SKYFALL.ACTOR.DEATHSAVES"}}</h4>
	<h4>
	<a data-action="vary" data-target="system.death.success" data-tooltip="{{localize "SKYFALL.ROLL.SUCCESSPLURAL"}}">
		{{{SYSTEM.icons.heartline}}}
		{{#with system.death}}
		{{{ifThen (gte success 1) ../SYSTEM.icons.squarefill ../SYSTEM.icons.square}}}
		{{{ifThen (gte success 2) ../SYSTEM.icons.squarefill ../SYSTEM.icons.square}}}
		{{{ifThen (gte success 3) ../SYSTEM.icons.squarefill ../SYSTEM.icons.square}}}
		{{/with}}
	</a></h4>
	<h4><a data-action="vary" data-target="system.death.failure" data-tooltip="{{localize "SKYFALL.ROLL.FAILUREPLURAL"}}">
		{{!-- {{{SYSTEM.icons.heartcrack}}} --}}
		{{{SYSTEM.icons.skull}}}
		{{#with system.death}}
		{{{ifThen (gte failure 1) ../SYSTEM.icons.squarefill ../SYSTEM.icons.square}}}
		{{{ifThen (gte failure 2) ../SYSTEM.icons.squarefill ../SYSTEM.icons.square}}}
		{{{ifThen (gte failure 3) ../SYSTEM.icons.squarefill ../SYSTEM.icons.square}}}
		{{/with}}
	</a>
	</h4>
</div>


<div class="damage-reduction attribute box flexcol">
	<h4>{{localize "SKYFALL.ACTOR.DR"}}</h4>
	<input type="number" disabled value="{{system.dr}}">
</div>
<div class="movement attribute box flexcol">
	<a data-action="manage" data-target="movement">
		<h4>{{localize "SKYFALL.ACTOR.MOVEMENT"}}</h4>
	</a>
	<div>
	{{#each movement as | move | }}
	<span data-tooltip="{{localize move.label}}">
		{{{move.icon}}} {{move.value}} 
	</span>
	{{/each}}
	</div>
</div>

<div></div>