<ul class="list-items features flexrow">
	{{#each items.features as | feature |}}
	<li class="item feature flexcol" data-item-id="{{feature.id}}">
		<div class="item-name">{{feature.name}}</div>
		<div class="item-xxx">{{feature.name}}</div>
		<div class="item-controls">
			<a class="control" data-action="toggle" data-target="favorite">
				{{{../SYSTEM.icons.star}}}
			</a>
			<a class="control" data-action="edit">{{{../SYSTEM.icons.edit}}}</a>
			<a class="control" data-action="delete">{{{../SYSTEM.icons.delete}}}</a>
		</div>
	</li>
	{{/each}}
</ul>