<div class="header-fields entry {{#if level}}class{{/if}}" data-entry-id="{{field.id}}">
	<label>{{localize label}}
		<span class="item-controls">
			{{#if field.id }}
			<a class="control" data-action="edit" data-target="item">
				{{{@root.SYSTEM.icons.edit}}}
			</a>
			<a class="control" data-action="delete" data-delete="Item">
				{{{@root.SYSTEM.icons.delete}}}
			</a>
			{{else if (eq 1 2)}}
			<a class="control" data-action="search" data-target="item">
				{{{@root.SYSTEM.icons.search}}}
			</a>
			{{/if}}
		</span>
	</label>
	{{#if level}}
	<input type="number" class="level" name="system.level.value" value="{{@root.system.level.value}}">
	{{/if}}
	{{#if field.heritage}}
	<input type="text" value="{{field.name}} ( {{field.heritage}} )" disabled >
	{{else}}
	<input type="text" value="{{field.name}}" disabled>
	{{/if}}
</div>