<ul class="list-items inventory flexrow">
	{{#each inventory as | item |}}
	<li class="item entry flexcol" data-entry-id="{{item._id}}" data-entry-type="item">
		<div class="item-name flexrow">
			<div class="item-icon" style="background-image:url({{item.img}})"></div>
			<span>{{item.name}}</span>
		</div>
		<div class="item-xxx">{{item.type}}</div>
		<div class="item-controls">
			<a class="control" data-action="toggle" data-target="system.favorite">
				{{#if item.system.favorite }}
				{{{../SYSTEM.icons.starfill}}}
				{{else }}
				{{{../SYSTEM.icons.star}}}
				{{/if}}
			</a>
			<a class="control" data-action="toggle" data-target="system.equipped">
				{{#if item.system.equipped }}
				{{{../SYSTEM.icons.on}}}
				{{else }}
				{{{../SYSTEM.icons.off}}}
				{{/if}}
			</a>
			<a class="control" data-action="edit" data-target="item">
				{{{../SYSTEM.icons.edit}}}
			</a>
			<a class="control" data-action="delete" data-delete="Item">
				{{{../SYSTEM.icons.delete}}}
			</a>
		</div>
	</li>
	{{/each}}
</ul>
<style>
	.list-items {
		justify-content: space-between;
	}
	.list-items .item {
		margin: 5px 0;
	}
	.list-items.inventory .item {
		flex: 0 0 240px
	}
	.item .item-icon {
		background-size: cover;
		flex: 0 0 36px;
		width: 36px;
		height: 36px;
	}
</style>