<ul class="list-items inventory flexrow">
	{{#each inventory as | item |}}
	<li class="item entry flexcol" data-entry-id="{{item._id}}">
		<div class="item-name flexrow">
			<div class="item-icon" style="background-image:url({{item.img}})"></div>
			<span>{{item.name}}</span>
		</div>
		<div class="item-xxx">{{item.type}}</div>
		<div class="item-controls">
			<a class="control" data-action="toggle" data-target="favorite">
				{{{../SYSTEM.icons.star}}}
			</a>
			<a class="control" data-action="toggle" data-target="equipped">
				{{{../SYSTEM.icons.off}}}
			</a>
			<a class="control" data-action="edit" data-target="item">
				{{{../SYSTEM.icons.edit}}}
			</a>
			<a class="control" data-action="delete" data-target="item">
				{{{../SYSTEM.icons.delete}}}
			</a>
		</div>
	</li>
	{{/each}}
</ul>
<style>
	.list-items {
		justify-content: space-between;
	}
	.list-items .item {
		border: 1px solid black;
		margin: 5px 0;
		flex: 0 0 240px
	}
	.item .item-icon {
		background-size: cover;
		flex: 0 0 36px;
		width: 36px;
		height: 36px;
	}
</style>