{{log 'spells'}}
{{log spells}}
<ul class="list-items spells flexrow">
	{{#each spells as | spell |}}
	<li class="item spell entry flexcol" data-entry-id="{{spell._id}}">
		<div class="item-name">{{spell.name}}</div>
		<div class="item-xxx">{{spell.name}}</div>
		<div class="item-controls">
			<a class="control" data-action="toggle" data-target="favorite">
				{{{../SYSTEM.icons.star}}}
			</a>
			<a class="control" data-action="edit" data-target="item">{{{../SYSTEM.icons.edit}}}</a>
			<a class="control" data-action="delete" data-delete="Item">{{{../SYSTEM.icons.delete}}}</a>
		</div>
	</li>
	{{/each}}
</ul>