{{log 'spells'}}
{{log spells}}
<ul class="list-items spells flexrow">
	{{#each spells as | spell |}}
	<li class="item entry flexcol" data-entry-id="{{spell._id}}">
		<div class="ability-header flexrow">
			{{{spell.system._labels.action.icon}}}
			<span class="flex2">{{spell.name}}</span>
			<span class="cost flex1">{{spell.system._labels.cost}}</span>
		</div>
		<div class="ability-descriptors">
			{{#each spell.system._labels.descriptors as | d | }}
			<label class="descriptor active">{{localize d.label}}</label>
			{{/each}}
		</div>
		<div class="ability-properties">
			<ul class="list-items properties" style="columns: 2;">
			{{#each spell.system._labels.properties as | p | }}
				<li><label>{{localize p.label}}:</label> {{p.descriptive}}</li>
			{{/each}}
			</ul>
		</div>
		<div class="ability-attack">
			<ul>
			{{#each spell.system._labels.attack as | p | }}
				<li><label>{{localize p.label}}:</label> {{p.descriptive}}</li>
			{{/each}}
			</ul>
		</div>
		<div class="ability-effect">
			<label>{{localize spell.system._labels.effect.label}}</label>
			{{spell.system._labels.effect.descriptive}}
		</div>
		<div class="ability-special">
			<label>{{localize spell.system._labels.special.label}}</label>
			{{spell.system._labels.special.descriptive}}
		</div>
		<div class="item-controls">
			<a class="control" data-action="toggle" data-target="favorite">
				{{{../SYSTEM.icons.star}}}
			</a>
			<a class="control" data-action="edit" data-target="item">{{{../SYSTEM.icons.edit}}}</a>
			<a class="control" data-action="delete" data-delete="Item">{{{../SYSTEM.icons.delete}}}</a>
		</div>
	</li>
	{{/each}}
</ul>