<div class="actor-traits">
	<fieldset>
		<legend>{{localize "SKYFALL2.RESOURCE.HP"}}</legend>
		<div class="form-group flexrow">
			<label>{{localize schema.modifiers.hp.abilities.label}}</label>
			<div class="form-fields">
				{{#each SYSTEM.abilities as | ability abl | }}
					{{#unless (or (eq abl 'mental') (eq abl 'physical'))}}
						<label>
							{{ability.abbr}}
							<input type="checkbox" name="hp.abilities" value="{{abl}}" {{checked (includes abl
								@root.system.modifiers.hp.abilities) }}>
						</label>
					{{/unless}}
				{{/each}}
			</div>
		</div>
		<div class="form-group flexrow">
			<label>{{localize schema.modifiers.hp.levelExtra.label}}</label>
			<div class="form-fields">
				<input type="text" name="hp.levelExtra" value="{{lookup system.modifiers.hp.levelExtra 0}}">
			</div>
		</div>
		<div class="form-group flexrow">
			<label>{{localize schema.modifiers.hp.totalExtra.label}}</label>
			<div class="form-fields">
				<input type="text" name="hp.totalExtra" value="{{lookup system.modifiers.hp.totalExtra 0}}">
			</div>
		</div>
		<hr>
		<div class="form-group flexcol">
			<label>{{localize schema.modifiers.hp.levelRoll.label}}</label>
			<ol class="plain " style="columns: 3;font-size:14px;text-align:center;">
				{{#each system.modifiers.hp.levelRoll as | value index | }}
					<li class="form-fields flexrow">
						<label>{{localize "SKYFALL2.Level"}}&nbsp;{{index}}</label>
						{{#if @first}}
							<input type="hidden" name="hp.levelRoll" value="{{value}}">
							<input type="text" value="MAX" disabled>
						{{else}}
							<input type="number" name="hp.levelRoll" value="{{value}}">
						{{/if}}
					</li>
				{{/each}}
			</ol>
		</div>
	</fieldset>
	<fieldset>
		<legend>{{localize "SKYFALL2.RESOURCE.EP"}}</legend>
		<div class="form-group flexrow">
			<label>{{localize schema.modifiers.ep.levelExtra.label}}</label>
			<div class="form-fields">
				<input type="text" name="ep.levelExtra" value="{{lookup system.modifiers.ep.levelExtra 0}}">
			</div>
		</div>
		<div class="form-group flexrow">
			<label>{{localize schema.modifiers.ep.totalExtra.label}}</label>
			<div class="form-fields">
				<input type="text" name="ep.totalExtra" value="{{lookup system.modifiers.ep.levelExtra 0}}">
			</div>
		</div>
	</fieldset>
</div>