<div style="height: 100%;">
	<div class="flexrow">
		<div class="actor flexrow">
			<img src="{{data.actor.img}}" width="32" height="32" class="flex0">
			<h4>{{data.actor.name}}</h4>
		</div>
		<div class="item flexrow">
			<img src="{{data.ability.img}}" width="32" height="32" class="flex0">
			<h4>
				{{data.ability.name}}
				{{ifThen data.ability.weapon.name (concat '(' data.ability.weapon.name ')') ''}}
			</h4>
		</div>
		<div class="cost flexcol">
			{{#each data.cost as | cost key |}}
				{{#if (eq key 'ep')}}
					<span> {{cost.base}} + {{cost.mod}}/{{cost.limit}} {{key}} </span>
				{{else}}
					<span> {{cost}} {{key}} </span>
				{{/if}}
			{{/each}}
		</div>
	</div>
	<div class="rolls flexcol">
		{{#each data.rolls as | rolls id | }}
			<div class="form-group">
				<label>{{{rolls.options.flavor}}}</label>
				<div class="form-fields">
					<input type="text" disabled value="{{{rolls.formula}}}">
					<input type="text" class="bonus" name="roll.{{id}}.bonus" value="{{lookup (lookup @root.data.rollconfig.roll id) 'bonus'}}" style="flex: 0 0 90px;" placeholder="{{localize 'SKYFALL2.Bonus'}}">
				</div>
			</div>
		{{/each}}
	</div>
	<div class="modifications scrollable" style="max-height: 400px;">
		{{#each data.modifications as | modification id | }}
			<div class="modification">{{{modification.embed}}}</div>
		{{/each}}
	</div>

	<div class="form-group stacked text-center rollmode {{ifThen (eq data.rolls.length 0) " hidden" "" }}">
		<label data-tooltip="{{localize 'SKYFALL2.APP.ForceRollModeHint'}}">{{localize "SKYFALL2.APP.ForceRollMode"}}:</label>
		<div class="form-group">
			<label>
				<input type="radio" class="mode" name="rollmode" value="disadvantage" {{checked (eq data.rollconfig.rollmode "disadvantage" ) }}>
				{{localize "SKYFALL.ROLL.DISADVANTAGE"}}
			</label>

			<label>
				<input type="radio" class="mode" name="rollmode" value="normal" {{checked (eq data.rollconfig.rollmode "normal" ) }}>
				{{localize "SKYFALL.ROLL.NORMAL"}}
			</label>
			<label>
				<input type="radio" class="mode" name="rollmode" value="advantage" {{checked (eq data.rollconfig.rollmode "advantage" ) }}>
				{{localize "SKYFALL.ROLL.ADVANTAGE"}}
			</label>
		</div>
	</div>

</div>