<form class="{{cssClass}} {{actor.type}} flexcol2" autocomplete="off">
	{{log this}}
	{{!-- Sheet Header --}}
	{{!-- <header class="sheet-header flexrow hidden"> --}}
		{{!-- IMG --}}
		{{!-- NAME --}}
		{{!-- HP/EP/CP/SP --}}
		{{!-- ACTION REST --}}
		{{!-- ACTION INIT --}}
		{{!-- {{> "systems/skyfall/templates/actor/parts/header.hbs"}} --}}
	{{!-- </header> --}}
	<aside class="sheet-header flexcol border-1">
		{{> "systems/skyfall/templates/actor/parts/aside.hbs" }}
	</aside>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{!-- Default tab is specified in actor-sheet.mjs --}}
		<a class="item" data-tab="actions">{{localize "SKYFALL.SHEET.ACTIONS"}}</a>
		<a class="item" data-tab="features">{{localize "SKYFALL.SHEET.FEATURES"}}</a>
		<a class="item" data-tab="abilities">{{localize "SKYFALL.SHEET.ABILITIES"}}</a>
		<a class="item" data-tab="spells">{{localize "SKYFALL.SHEET.SPELLS"}}</a>
		<a class="item" data-tab="inventory">{{localize "SKYFALL.SHEET.INVENTORY"}}</a>
		<a class="item" data-tab="effects">{{localize "SKYFALL.SHEET.EFFECTS"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body flex3">
		{{!-- Actions Tab --}}
		<div class="tab actions flexrow" data-group="primary" data-tab="actions">
			{{> "systems/skyfall/templates/actor/parts/actions.hbs"}}
		</div>

		{{!-- Features Tab --}}
		<div class="tab features flexrow" data-group="primary" data-tab="features">
			{{> "systems/skyfall/templates/actor/parts/features.hbs"}}
		</div>
		
		{{!-- Abilities Tab --}}
		<div class="tab abilities flexcol" data-group="primary" data-tab="abilities">
			{{> "systems/skyfall/templates/actor/parts/abilities.hbs"}}
		</div>

		{{!-- Spells Tab --}}
		<div class="tab spells flexcol" data-group="primary" data-tab="spells">
			{{> "systems/skyfall/templates/actor/parts/spells.hbs"}}
		</div>

		{{!-- Inventory Tab --}}
		<div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
			{{> "systems/skyfall/templates/actor/parts/inventory.hbs"}}
		</div>

		{{!-- Effecs Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/skyfall/templates/shared/active-effects.hbs"}}
		</div>
	</section>
</form>