<section class="tab scrollable actor-{{tab.id}} {{tab.cssClass}} flexrow" data-tab="{{tab.id}}"
	data-group="{{tab.group}}">
	<div class="section-header flexrow flex100">
		<div class="ability-filters flexrow">
			<ul class="plain filter-list flexrow" data-filter-id="abilities">
				<li class="">{{localize "SKYFALL.FILTER"}}</li>
				{{#each filters.abilities as | action key | }}
					<li data-action="filter" data-filter="{{key}}" class="filter-item {{ifThen action.active 'active' '' }}"
						data-tooltip="{{localize action.label}}">{{{action.icon}}}</li>
				{{/each}}
			</ul>
		</div>
		<div class="item-controls">
			<a class="control" data-action="collapseAll">
				<i class="fa-solid fa-compress"></i>
			</a>
			<a class="control" data-action="expandAll">
				<i class="fa-solid fa-expand"></i>
			</a>
			<a class="control" data-action="create" data-create="Item" data-type="ability">
				{{{@root.SYSTEM.icons.create}}} {{localize "SKYFALL.Create"}}
			</a>
		</div>
	</div>
	{{#each items.abilities as | ability | }}
		{{{ability._enriched}}}
		{{!-- {{> "systems/skyfall/templates/v2/item/ability-card.hbs" item=ability labels=ability.system.labels collapse=true}} --}}
	{{/each }}
</section>