<section class="tab scrollable guild-{{tab.id}} {{tab.cssClass}} flexcol" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	<div class="border-corners"></div>
	<ul class="plain members item-list">
		<li class="member header flexrow">
			<div class="item-img"></div>
			<div class="item-name flex3">
				<label>
					{{localize "SKYFALL2.Name"}}
				</label>
			</div>
			<div class="item-level">
				{{localize "SKYFALL2.Level"}}
			</div>
			<div class="item-retired flex2">
				{{localize "SKYFALL2.GUILD.Retired"}}
			</div>
			<div class="item-controls"></div>
		</li>
		{{#each members as | member i|}}
			<li class="member flexrow" data-entry-id="{{member.uuid}}" data-index="{{i}}">
				<div class="item-img">
					<img src="{{member.img}}" class="flex0">
				</div>
				<div class="item-name flex3 flexrow">
					<label>
						{{member.name}}
					</label>
				</div>
				<div class="item-level">{{member.system.level.value}}</div>
				<div class="item-retired flex2">
					<a data-action="retire">
						{{{ifThen member.retired  @root.SYSTEM.icons.diamondfill @root.SYSTEM.icons.square}}}
					</a>
				</div>
				<div class="item-controls">
					<a class="control" data-action="edit">{{{@root.SYSTEM.icons.edit}}}</a>
					<a class="control" data-action="deleteMember">{{{@root.SYSTEM.icons.delete}}}</a>
				</div>
			</li>
		{{/each}}
	</ul>
	<div class="border-corners bottom"></div>
</section>