<div class="tab" data-group="primary" data-tab="description">
	{{!-- LEVEL --}}
	<div class="form-group">
		<label>{{ localize "SKYFALL.TYPE" }}</label>
		<div class="form-fields">
			<select name="system.type">
				{{selectOptions @root.SYSTEM.pathTypes valueAttr="id" labelAttr="label" selected=@root.system.type localize=true}}
			</select>
		</div>
	</div>
	{{editor @root.enriched.description target="system.description.value" button=true editable=@root.editable engine="prosemirror" collaborate=false}}
</div>


{{!-- LIST FEATURES --}}
<div class="tab" data-group="primary" data-tab="features">
	<h3>{{localize "SKYFALL.ITEM.PATH.INITFEATURES"}}</h3>
	{{> 'systems/skyfall/templates/item/parts/items-list.hbs' type="feature" list=@root.features target="system.features"}}

	<h3>{{localize "SKYFALL.ITEM.PATH.ADVFEATURES"}}</h3>
	{{> 'systems/skyfall/templates/item/parts/items-list.hbs' type="feature" list=@root.featuresAdv target="system.featuresAdv"}}
</div>

{{!-- LIST FEATS --}}
<div class="tab flexrow" data-group="primary" data-tab="feats">
	{{> 'systems/skyfall/templates/item/parts/items-list.hbs' type="feat" list=@root.feats target="system.feats"}}
</div>