<section class="tab character-{{tab.id}} {{tab.cssClass}} scrollable"
	data-tab="{{tab.id}}"
	data-group="{{tab.group}}"
	data-application-part="character">

	<div class="filter ability">
		<div class="ability-filters flexrow">
			<ul class="plain filter-list flexrow" data-filter-id="spells">
				<li class="header">{{localize "SKYFALL.FILTER"}}</li>
				{{#each filters.spells as | action key | }}
					<li data-action="filter" data-filter="{{key}}" class="filter-item {{ifThen action.active 'active' '' }}" data-tooltip="{{localize action.label}}">
						{{{action.icon}}}
					</li>
				{{/each}}
				<li class="">

				</li>
				<li class="item-controls">
					<a class="control" data-action="collapseAll">
						<i class="fa-solid fa-compress"></i>
					</a>
				</li>
				<li class="item-controls">
					<a class="control" data-action="expandAll">
						<i class="fa-solid fa-expand"></i>
					</a>
				</li>
				<li class="item-controls">
					<a class="control" data-action="create" data-create="Item" data-type="spell">
						{{{@root.SYSTEM.icons.create}}} {{localize "SKYFALL.Create"}}
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="ability-list">
		{{#each items.spells as | spell | }}
			{{#if spell.layerLabel }}
				<h2 class="title flex100 text-center">
					{{spell.layerLabel}}
				</h2>
			{{/if}}
			{{{spell._enriched}}}
		{{/each }}
	</div>
</section>