<section class="tab item-{{tab.id}} {{tab.cssClass}} flexrow" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{#if (isDefined system.quantity)}}
		<aside class="flexcol">
			{{formGroup schema.quantity value=system.quantity classes="slim" localize=true}}
			{{formGroup schema.price value=system.price classes="slim" localize=true}}
			{{formGroup schema.capacity value=system.capacity classes="slim" localize=true}}
			{{#if (and (isDefined system.equipped) document.isEmbedded)}}
				{{formGroup schema.equipped value=system.equipped localize=true}}
				{{formGroup schema.attuned value=system.attuned localize=true}}
			{{/if}}
			{{#if user.isGM }}
				{{formGroup schema.unidentified.value value=system.unidentified.value localize=true}}
			{{/if}}
		</aside>
	{{/if}}
	<div class="flexcol flex3">
		{{#if (isDefined system.descriptors)}}
			<dropdown-tags name="system.descriptors" class="descriptors" data-document="{{document.uuid}}">
				{{#each _selOpts.descriptors as | group id |}}
					<optgroup label="{{localize (concat 'SKYFALL2.DESCRIPTOR.LABEL.' id)}}">
						{{selectOptions group valueAttr="id" labelAttr="label" selected=@root.system.descriptors}}
					</optgroup>
				{{/each}}
			</dropdown-tags>
		{{/if}}

		{{#if (and (eq document.type 'path') (isDefined system.type))}}
			{{formGroup schema.type value=system.type localize=true}}
		{{/if}}

		{{#if (eq document.type 'facility')}}
			<div class="form-group">
				<label>{{localize schema.level.label}}</label>
				<div class="form-fields">
					<input type="number" name="system.level" value={{system.level}}>
				</div>
			</div>
		{{/if}}

		{{formInput schema.description.value value=system.description.value enriched=enriched.description documentUUID=document.uuid toggled=true height=400 localize=true}}

		{{!-- {{editor @root.enriched.description target="system.description.value" button=true editable=@root.editable engine="prosemirror" collaborate=false}} --}}
		{{#if (isDefined system.origin)}}
			{{#if (eq document.type 'class') }}
			{{~else if (includes 'legacy' 'curse' 'background' @root.document.type) }}
			{{else}}
				{{!-- {{formGroup schema.origin value=system.origin localize=true}} --}}
			{{/if}}
		{{/if}}

		{{#if (isDefined system.requisites)}}
			{{formGroup schema.requisites value=system.requisites localize=true}}
		{{/if}}
	</div>
</section>