<section class="tab scrollable ability-config {{tab.id}} {{tab.cssClass}} flexcol" data-tab="config" "{{tab.id}}" data-group="{{tab.group}}">
	{{!-- SIGIL --}}
	<fieldset>
		<legend>{{localize "TYPES.Item.sigil"}}</legend>
		{{formGroup schema.type value=system.type localize=true}}
		<div class="form-group stacked">
			<label>{{localize "SKYFALL2.DescriptorPl"}}</label>
		<dropdown-tags name="system.descriptors" class="descriptors">
			{{#each _selOpts.descriptors as | group id |}}
			<optgroup label="{{localize (concat "SKYFALL.DESCRIPTORS.LABELS." id)}}">
				{{selectOptions group valueAttr="id" labelAttr="label" selected=@root.system.descriptors}}
			</optgroup>
			{{/each}}
		</dropdown-tags>
		</div>
	</fieldset>
	{{!-- ACTIVATION --}}
	<fieldset>
		<legend>{{localize "SKYFALL2.Activation"}}</legend>
		{{formGroup schema.activation.type value=system.activation.type localize=true}}
		{{!-- CHARGES --}}
		<div class="form-group">
			<label>{{localize "SKYFALL2.ChargePl"}}</label>
			<div class="form-fields slim">
				{{formInput schema.charges.value value=system.charges.value localize=true}}
				{{formInput schema.charges.max value=system.charges.max localize=true}}
			</div>
		</div>
	</fieldset>
	{{!-- EFFECT --}}
	<fieldset>
		<legend>{{localize "SKYFALL2.Effect"}}</legend>
		{{formGroup schema.effect.descriptive value=system.effect.descriptive localize=true}}
	</fieldset>
	{{!-- FRAGMENTS --}}
	<fieldset>
		<legend>{{localize "SKYFALL2.FragmentPl"}}</legend>
		{{formGroup schema.item value=system.item localize=true}}
		{{formGroup schema.fragments.value value=system.fragments.value localize=true}}
		{{formGroup schema.fragments.amount value=system.fragments.amount localize=true}}
		{{formGroup schema.fragments.type value=system.fragments.type localize=true}}
	</fieldset>
</section>