<section class="tab item-{{tab.id}} {{tab.cssClass}} flexcol" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{#if (eq document.type 'weapon')}}
		<div class="form-group">
			<label for="">{{localize schema.category.label}}</label>
			<div class="form-fields">
				{{formInput schema.category value=system.category localize=true}}
				{{formInput schema.purpose value=system.purpose localize=true}}
			</div>
		</div>
		{{formGroup schema.wield value=system.wield localize=true}}
		{{formGroup schema.range value=system.range localize=true}}

		<div class="form-group">
			<label for="">{{localize "SKYFALL2.Reload"}}</label>
			<div class="form-fields">
				{{formInput schema.reload.quantity value=system.reload.quantity localize=true}}
				{{!-- {{formInput schema.reload.actions value=system.reload.actions localize=true}} --}}
				<label class="flexrow nowrap"> {{{SYSTEM.icons.sfaction}}}
					<input type="checkbox" name="system.reload.actions" value="action" {{checked (includes
						system.reload.actions 'action' )}}>
				</label>
				<label class="flexrow nowrap"> {{{SYSTEM.icons.sfbonus}}}
					<input type="checkbox" name="system.reload.actions" value="bonus" {{checked (includes
						system.reload.actions 'bonus' )}}>
				</label>
				<label class="flexrow nowrap"> {{{SYSTEM.icons.sffree}}}
					<input type="checkbox" name="system.reload.actions" value="free" {{checked (includes
						system.reload.actions 'free' )}}>
				</label>
			</div>
		</div>

		<fieldset class="">
			<legend>{{localize "SKYFALL2.Attack"}}</legend>
			{{formGroup schema.attack.ability value=system.attack.ability localize=true}}
			{{formGroup schema.attack.bonus value=system.attack.bonus localize=true}}
		</fieldset>
		<fieldset class="">
			<legend>{{localize "SKYFALL2.Damage"}}</legend>
			{{formGroup schema.damage.die value=system.damage.die localize=true}}
			{{formGroup schema.damage.versatile value=system.damage.versatile localize=true}}
			{{formGroup schema.damage.ability value=system.damage.ability localize=true}}
			{{formGroup schema.damage.bonus value=system.damage.bonus localize=true}}
			{{!-- {{formGroup schema.damage.formula value=system.damage.formula localize=true}} --}}
		</fieldset>

	{{/if}}
	{{#if (eq document.type 'armor')}}
		{{formGroup schema.type value=system.type localize=true}}
		{{formGroup schema.dr value=system.dr localize=true}}
		{{#if (eq system.type 'shield')}}
			{{formGroup schema.category value=system.category}}

			<fieldset class="">
				<legend>{{localize "SKYFALL2.Attack"}}</legend>
				{{formGroup schema.attack.ability value=system.attack.ability localize=true}}
				{{formGroup schema.attack.bonus value=system.attack.bonus localize=true}}
			</fieldset>
			<fieldset class="">
				<legend>{{localize "SKYFALL2.Damage"}}</legend>
				{{formGroup schema.damage.die value=system.damage.die localize=true}}
				{{formGroup schema.damage.versatile value=system.damage.versatile localize=true}}
				{{formGroup schema.damage.ability value=system.damage.ability localize=true}}
				{{formGroup schema.damage.bonus value=system.damage.bonus localize=true}}
				{{!-- {{formGroup schema.damage.formula value=system.damage.formula localize=true}} --}}
			</fieldset>
		{{/if}}
	{{/if}}
	{{#if (eq document.type 'clothing')}}
		{{formGroup schema.type value=system.type label="Tipo" localize=true}}
	{{/if}}
	{{#if (eq document.type 'equipment')}}
		<div class="form-group">
			<label>{{localize "SKYFALL2.UsePl"}}</label>
			<div class="form-fields">
				{{formInput schema.uses.value value=system.uses.value}}/
				{{formInput schema.uses.max value=system.uses.max}}
			</div>
		</div>
	{{/if}}
	{{#if (eq document.type 'consumable')}}
		{{formGroup schema.type value=system.type label="Tipo" localize=true}}
		{{formGroup schema.damage.formula value=system.damage.formula localize=true}}
	{{/if}}

	{{#if (eq document.type 'class')}}
		<div class="form-group">
			<label>{{localize "SKYFALL2.Level"}}</label>
			<div class="form-fields">
				<input type="number" name="system.level" value="{{system.level}}">
				{{formGroup schema.initial value=system.initial}}
			</div>
		</div>
		<div class="form-group">
			<label>{{localize "SKYFALL2.HitDie"}}</label>
			<div class="form-fields">
				{{formInput schema.hitDie.value value=system.hitDie.value}}/
				{{formInput schema.hitDie.max value=system.hitDie.max}}
				{{formInput schema.hitDie.die value=system.hitDie.die}}
			</div>
		</div>
		{{formGroup schema.guild.ability value=system.guild.ability localize=true}}

		{{localize "SKYFALL2.ProficiencyPl"}}
		{{formGroup schema.description.value value=system.description.value enriched=enriched.description toggled=true}}
	{{/if}}
	{{#if (eq document.type 'template')}}
	{{/if}}

	{{!-- SIGILS --}}
	{{#if (isDefined system.sigils)}}
		<fieldset class="flexrow sigils">
			<legend>{{localize "TYPES.Item.sigilPl"}}</legend>
			{{#each sigils as | list type | }}
				<ol class="plain flexcol flex-start" data-field-path="system.sigils" data-item-type="sigil">
					<li><label>
							{{#if (eq type 'prefix' ) }}
								{{localize "SKYFALL2.SIGIL.Prefix"}}
							{{else}}
								{{localize "SKYFALL2.SIGIL.Sufix"}}
							{{/if}}
						</label></li>
					{{#each list as | sigil |}}
						<li class="sigil flexrow" data-uuid="{{sigil.uuid}}">
							<div class="item-name flex2">{{sigil.label}}</div>
							<div class="item-controls flex0">
								<a data-action="infuse">
									{{localize "SKYFALL2.Infused"}}
									{{{ifThen sigil.infused  @root.SYSTEM.icons.squarefill @root.SYSTEM.icons.square}}}
								</a>
								<a data-action="deleteSigil">&nbsp;{{{@root.SYSTEM.icons.delete}}}</a>
							</div>
						</li>
					{{/each}}
				</ol>
			{{/each }}
		</fieldset>
	{{/if}}
</section>