<form>
	<div class="usage-config header flexrow">
		<div class="actor flexrow">
			<img src="{{actor.img}}" width="32" height="32">
			<label>{{actor.name}}</label>
		</div>
		<div class="item flexrow">
			<img src="{{ability.img}}" width="32" height="32">
			<label>{{ability.name}}</label>
		</div>
		{{#if item.name }}
		<div class="item flexrow">
			<img src="{{item.img}}" width="32" height="32">
			<label>{{item.name}}</label>
		</div>
		{{/if}}
	</div>

	<div class="modifications flexcol">
		<div class="modification header flexrow">
			<div class="controls">{{localize "SKYFALL.APPLY"}}</div>
			<div class="cost">{{localize "SKYFALL.ITEM.ABILITY.COST"}}</div>
			<div class="name hidden">{{localize "SKYFALL.NAME"}}</div>
			<div class="description">{{localize "SKYFALL.DESCRIPTION"}}</div>
		</div>
		{{log modifications}}
		{{#each modifications as | mod | }}
		<div class="modification flexrow">
			{{!-- ACTION - COST - TYPE  --}}
			{{!-- DESCRIPTION  --}}
			{{log mod}}
			<div class="controls flexrow">
				{{#if mod.system.cost.multiple }}
				<button type="button" data-action="apply-sub"><i class="fa-solid fa-minus"></i></button>
				<input type="number" name="system.modifications.{{mod.id}}.apply" value="{{mod.apply}}">
				{{!-- {{ift (lookup (lookup @root.system.modifications mod.id)  'apply')
					(ift mod.system.apply.always 1 0) }} --}}
				<button type="button" data-action="apply-add"><i class="fa-solid fa-plus"></i></button>
				{{else if (xablau) }}
				<input type="number" name="system.modifications.{{mod.id}}.apply" value="{{ift (lookup (lookup @root.system.modifications mod.id)  'apply')
					(ift mod.system.apply.always 1 0) }}">
				{{else }}
				<input type="checkbox" name="system.modifications.{{mod.id}}.apply" value="1" {{checked mod.apply}}>
				{{!-- (or mod.system.apply.always (lookup (lookup @root.system.modifications mod.id) 'apply')) --}}
				{{/if}}
			</div>
			<div class="cost">
				{{mod.cost.label}}
			</div>
			<div class="name hidden">
				{{mod.name}}
			</div>
			<div class="description">
				{{mod.name}}
				{{{mod.description}}}
			</div>
		</div>
		{{/each}}
	</div>

	<div class="rolls">
		{{log system.rolls }}
		{{#each system.rolls as | roll i | }}
		<div class="form-group">
			<label for="">{{roll.options.flavor}} </label>
			<input type="text" name="_rolls.{{i}}.formula" value="{{roll.formula}}" disabled>
		</div>
		{{/each}}
	</div>

	{{!-- <div class="something">
		<div class="form-group">
			<label>FOO</label>
			<input type="checkbox" name="system.status.configured" {{checked system.status.configured}}>
		</div>
	</div> --}}

	<footer class="form-footer">
		<button data-action="commit">
			{{localize "SKYFALL.CHATMESSAGE.USAGE.COMMIT"}}
		</button>
	</footer>
</form>
