<div
	class="ability-card flexcol {{ifThen (eq item.type 'spell') item.filters.spells item.filters.abilities}} {{ifThen @root.isPlayMode '' 'editing'}}"
	data-entry-id="{{item.id}}">
	<div class="ability-header flexrow">
		{{{labels.action.icon}}} &nbsp;
		{{#if isFigure }}
			{{{anchor}}}
			<span class="cost flex1">{{{labels.cost.label}}}</span>
			{{{labels.spell.icon}}}
		{{~else if @root.isSheetEmbedded }}
			<a class="control ability" data-action="abilityUse" data-ability-id="{{item.id}}">
				<h5>{{item.name}}</h5>
			</a>
			<span class="cost flex1">{{{labels.cost.label}}}</span>
			{{{labels.spell.icon}}}
			{{#if collapse }}
				<a data-action="collapse" class="expand isEditing flex0">
					<i class="fa-solid fa-expand"></i>
				</a>
				<a data-action="collapse" class="compress isEditing flex0">
					<i class="fa-solid fa-compress"></i>
				</a>&nbsp;
			{{/if}}
			<a class="isEditing flex0" data-action="edit">{{{@root.SYSTEM.icons.edit}}}</a>&nbsp;&nbsp;
			<a class="isEditing flex0" data-action="delete">{{{@root.SYSTEM.icons.delete}}}</a>
		{{else}}
			<input class="flex3" name="name" type="text" value="{{item.name}}" placeholder="Name" />
			<span class="cost flex1">{{{labels.cost.label}}}</span>
			{{{labels.spell.icon}}}
			{{!-- <a class="isEditing flex0" data-edit="toggle">{{{@root.SYSTEM.icons.gear}}}</a> --}}
			<a data-action="toggleMode"
				class="toggle-edit flex0">{{{ifThen @root.isPlayMode '<i class="fa-solid fa-lock"></i>' '<i class="fa-solid fa-lock-open"></i>'}}}</a>
		{{/if}}
	</div>
	{{#if labels.descriptors }}
		<div class="ability-descriptors">
			{{#each labels.descriptors as | tag key |}}
				{{#if tag.value }}
					<label class="descriptor active">{{tag.label}}</label>
				{{/if}}
			{{/each}}
		</div>
	{{/if}}
	{{#if system.description.flavor }}
		<div class="ability-description">
			<em><b>{{{system.description.flavor}}}</b></em>
		</div>
	{{/if}}
	{{#if labels.properties }}
		<div class="ability-properties">
			<ul class="plain properties" style="columns: 2;">
				{{#each labels.properties as | prop |}}
					<li><label>{{{localize prop.label}}}:</label> {{prop.descriptive}}</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}
	{{#if enriched.description }}
		<div class="rich">
			{{{enriched.description}}}
		</div>
	{{else}}
		<div class="rich">
			{{{system.description.value}}}
		</div>
	{{/if}}
	{{!-- MODIFICATIONS --}}
	{{{enriched.modifications}}}
</div>