<form autocomplete="off" onsubmit="event.preventDefault();">
	<ul class="list-items traits flexcol">
		{{#each proficiencies as | proficiency key |}}
		<li class="item flexrow">
			<input type="checkbox" id="{{key}}" name="system.proficiencies" value="{{key}}" {{checked proficiency.value}}>
			<label for="{{key}}">{{localize proficiency.label}}</label>
		</li>
		{{/each}}
	</ul>
	<button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "SKYFALL.SHEET.SUBMIT"}}</button>
</form>